<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <strong><%= form.label :title, style: "display: block" %></strong>
    <%= form.text_field :title, size: 100 %>
  </div>
  <br>
  <div>
    <strong><%= form.label :content, style: "display: block" %></strong>
    <%= form.text_area :content, size: '100x20' %>
  </div>

  <div>
    <strong><%= form.label :topic, style: "display: block" %></strong>
    <%= form.text_field :category_id, list: 'categories' %>
    <datalist id="categories">
      <% @categories.each do |category| %>
        <option value="<%= category[0] %>"><%= category[0] %></option>
      <% end %>
    </datalist>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary mt-1' %>
  </div>
<% end %>
