<strong>Category:</strong>
<span id="category-selected"></span>
<%= form_with(url: categories_search_path, method: :post, data: { controller: :search, search_target: :form }) do |search_form| %>
  <%= search_form.search_field :key, data: { action: "input->search#search" } %>
<% end %>
<div id="search-results"></div>
<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div>
    <strong><%= form.label :title, style: "display: block" %></strong>
    <%= form.text_field :title, size: 100 %>
  </div>
  <br>
  <div>
    <strong><%= form.label :content, style: "display: block" %></strong>
    <%= form.text_area :content, size: '100x20' %>
  </div>

  <div>
    <%= form.hidden_field :category_id %>
  </div>

  <div>
    <%= form.submit class: 'btn btn-primary mt-1' %>
  </div>
<% end %>