<div class="question-partial">
  <div class="question-body">
    <h2><%= link_to question.title, question, class: 'question-header' %></h2>
    <div class="category-header">
      <%= image_tag(question.category.image.variant(resize_and_pad: [40, 40])) if question.category.image.attached?%>
      <p>
        <%= link_to question.category.name, category_questions_path(question.category), data: { turbo: false } %>
      </p>
    </div>
    <p><%= question.content[0, 100] %></p>
  </div>
  <div class="question-answers">
    <h2><%= question.answers.size %></h2>
    <p><%= 'answer'.pluralize(question.answers.size) %></p>
  </div>
</div>
