<p style="color: green"><%= notice %></p>

<%= render @question %>
<%= render "answers/form", answer: @answer %>
<%= link_to 'Answers', question_answers_path(@question) %>
<div>
  <%= link_to "Edit this question", edit_question_path(@question) %> |
  <%= link_to "Back to questions", questions_path %>

  <%= button_to "Destroy this question", @question, method: :delete %>
</div>
