<div class="question">
  <h1><%=@question.title %></h1>
  <div class="category-header">
    <%= image_tag(@question.category.image.variant(resize_and_pad: [30, 30])) if @question.category.image.attached?%>
    <p>
      <%= link_to @question.category.name, category_questions_path(@question.category), data: { turbo: false } %>
    </p>
  </div>
  <p><%= @question.content %></p>
  <p id="question-date"><%= @question.created_at %></p>
  <p id="question-author"><%= link_to @question.user.name, @question.user %></p>
</div>
<br>
<hr>
<% if current_user == @question.user %>
  <div id="question-controls">
    <%= link_to "Edit", edit_question_path(@question) %> |

    <%= link_to "Delete",@question, method: :delete %>
  </div>
<% end %>
<h1 style="text-align: center">Answers</h1>
<% if user_signed_in? %>
  <% unless current_user_answer %>
    <%= turbo_frame_tag 'create_answer' do %>
      <%= render 'answers/form', answer: Answer.new, question: @question %>
    <% end %>
  <% end %>
<% end %>

<div id="answers">
  <% @answers.each do |answer| %>
    <%= turbo_frame_tag(dom_id answer) do %>
      <%= render answer %>
    <% end %>
  <% end %>
</div>