<%= render @question %>

<h1>Answers</h1>
<% unless current_user_answer %>
  <%= turbo_frame_tag 'create_answer' do %>
    <%= render 'answers/form', answer: Answer.new, question: @question %>
  <% end %>
<% end %>

<div id="answers">
  <% @answers.each do |answer| %>
    <%= turbo_frame_tag(dom_id answer) do %>
      <%= render answer %>
    <% end %>
  <% end %>
</div>
<% if current_user == @question.user %>
  <div>
    <%= link_to "Edit this question", edit_question_path(@question) %> |

    <%= button_to "Destroy this question",@question, method: :delete %>
  </div>
<% end %>