<p style="color: green"><%= notice %></p>

<h1>Comments</h1>
<%= turbo_frame_tag 'comments' do %>
  <% if user_signed_in? %>
    <%= turbo_frame_tag 'create_comment' do %>
      <%= link_to 'Add comment', new_answer_comment_path(@answer, Comment.new) %>
    <% end %>
  <% end %>
  <% @comments.each do |comment| %>
    <%= turbo_frame_tag dom_id(comment) do %>
      <%= render comment %>
    <% end %>
  <% end %>
<% end %>