<%= form_with(model: answer, url: url_for(action: :update, controller: :answers, id: answer.id, question_id: question.id), html: {method: :patch}) do |form| %>
  <% if answer.errors.any? %>
    <div style="color: red">
      <ul>
        <% answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>