<div class="post" id="<%= dom_id post %>">
  <h4 class="post-header"><%= post.title %></h4>
  <p class="post-content"><%= post.content[0, 130] %>... <%= link_to 'Read more', post %></p>
  <p class="post-date"><%= post.created_at.strftime('%d %b %Y %H:%M') %></p>
</div>
