<p style="color: green"><%= notice %></p>

<div style="text-align: center">
  <h1 class="header-text"><%= @post.title %></h1>
</div>
<p class="post-date" style="color: red">Posted: <%= @post.created_at %></p>
<hr>
<%= @post.content %>

<% if current_user.admin? %>
  <%= link_to "Edit this post", edit_post_path(@post)%>
  <%= button_to "Destroy this post", @post, method: :delete %>
<% end %>
