<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Back to posts", posts_path %>
  <%= link_to "Edit this post", edit_post_path(@post) if current_user.admin? %> 

  <%= button_to "Destroy this post", @post, method: :delete if current_user.admin?  %>
</div>
