<div class="topic" id="<%= dom_id category %>">
  <%= image_tag(category.image.variant(resize_and_pad: [70, 70]), class: 'topic-img') if category.image.attached?%>
  <h4><%= link_to category.name, category_questions_path(category), class: 'topic-link', data: { turbo: false } %></h4>
  <p class="topic-questions-counter"><%= pluralize(category.questions.size, 'question') %> </p>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_category_path(category) %>
    <%= link_to 'Delete', category, data: { turbo_method: :delete } %>
  <% end %>
</div>
