<p style="color: green"><%= notice %></p>

<h1>Topics</h1>

<% if user_signed_in? && current_user.admin? %>
  <%= turbo_frame_tag 'create_category' do %>
    <%= link_to "New category", new_category_path %>
  <% end %>
<% end %>
<div id="topics">
  <% @categories.each do |topic| %>
    <%= turbo_frame_tag(dom_id topic) do %>
      <%= render topic %>
    <% end %>
  <% end %>
</div>
